.swiper-slide {
  height: auto;
}

.carousel__button-next,
.carousel__button-prev {
  position: absolute !important;
  top: 50%;
  transform: translateY(calc(-50% - 50px));
  z-index: 1;

  @media (max-width: 768px) {
    height: 40px !important;
    width: 40px !important;
  }
}

.carousel__button-prev {
  left: 0px;
  margin-left: -24px !important;
  @media (max-width: 768px) {
    margin-left: -12px !important;
  }
}
.carousel__button-next {
  right: 0px;
  margin-right: -24px !important;
  @media (max-width: 768px) {
    margin-right: -12px !important;
  }
}
